//@import "compass/css3";

$grey: #F7F7F7;
$navy: #32424b;
$background: inherits;
$font_size: 12pt; // 16px; 22vw; 0.22em;
  
logo, h1, h2 {
  margin: 0;
  padding: 0;
}

.logo {
  display: inline-flex; //flex; 
  width: 728px; // 80vw;
  height: 90px; //12%;
  font-family: //'Helvetica Neue', Arial, Helvetica, 
    sans-serif;
  font-size: $font_size;
  overflow: hidden;
  
  &left {
    color: white;
    background: $navy;
    
    display: flex;
    flex-basis: 45%;
    align-items: flex-end;
    justify-content: center;    
  }
  &right {
    color: $navy;
    background: $grey;
    
    display: flex;
    flex-basis: 55%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    font-size: 430%;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: -0.1em;
  }

  h2 {
    font-size: x-large; //150%;
    letter-spacing: 0.1em;
    margin: -0.1em 0 0.1em 0;
  }
}